<div class="panel panel-primary {{class}}">
  <div class="panel-heading">
    <span class="glyphicon"></span>
    <h4>{{title}}</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let element of nodeElements"
          [class.selected]="element === selectedNodeElement"
          (click)="onSelect(element)">
        <img src="https://lorempixel.com/50/50/?random={{element.Id}}"
             alt="{{element.Title}}" class="img-circle" />
        <span>{{element.Title}}</span>
      </li>
    </ul>
  </div>
</div>
